// Corner button styles (interactive states need SCSS)
.corner {
    border: none;
    opacity: 0.75;
    padding: 2px;

    &:hover,
    &.selected:hover {
        opacity: 1;
        outline: 1px solid var(--text-input-border-color);
    }

    &.selected {
        opacity: 1;
        outline: none;
    }
}
