@import '../variables';

.shape-tools {
    border-left: 1px solid var(--shapetool-main-divider-color);
    background: var(--shapetool-bg-color);

    font-family: $uiTextFont;
    font-size: 12px;

    .shape-tools__footer {
        &>a {
            line-height: 14px;
            font-size: 14px;
            text-decoration: none;
            color: var(--shapetool-footer-color);
            display: flex;
            align-items: center;

            &:hover {
                color: var(--shapetool-footer-hover-color);
            }

            &:active {
                color: var(--shapetool-footer-active-color);
            }
        }
    }

    .indicator-text {
        color: var(--shapetool-indicator-color);
    }

    &.hide {
        display: none;
    }
}
