$border-color: var(--comp-option-cloud-border-color);
$border-selected-color: var(--comp-option-cloud-border-selected-color);

// Base layout handled by Tailwind: flex justify-center items-center rounded cursor-pointer p-[3px]
// Interactive states kept in SCSS
.cloud-item {
    border: 1px solid $border-color;

    &:hover {
        border-color: transparent;
        outline: 1.5px solid $border-color;
    }

    &.selected {
        border-color: transparent;
        outline: 1.5px solid $border-selected-color;
        color: $border-selected-color;
    }

    &.dash-border {
        border-style: dashed;

        &:hover {
            outline-style: dashed;
        }
        &.selected {
            outline-style: dashed;
        }
    }
}
